@import "normalize.css";

#masthead {
    background-image: url("/images/header-image.jpg");
    background-size:cover;
    background-position: center;
    padding: 0%;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items:center;
    color: white; 
    text-transform: uppercase; 
    font-family: "sans-serif";
    font-size: 2vw;
}
#hotels-cards{
    background-color: #18181c;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px;
}
.card {
    border:1px solid white;
    margin: 10px;
    max-width:350px;
    width: 100%;
    min-width: 150px;
    display: flex;
    flex-flow: column;
 
    font-family: "sans-serif";
}
.card header {
    padding: 5px;
    margin: 5%;
    flex: 0 0 auto;
    text-align:center;
}
.target {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
}
.target h2 {
    margin-bottom: 3px;
    color: white;
    font-size: 1.4em;
}
.target h3 {
    margin-top: 3px;
    color:red;
    text-transform: uppercase;
    font-size: 1.4em;
}
.target p {
    margin-top: 10px;
    color: white;
}
.card button {
    background-color: red;
    color: whitesmoke;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    flex: 0 0 auto;
    border:none;
    font-size:1.3em; 
    text-transform: uppercase;
    font-family: "sans-serif";
}
